<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1;IE=9;IE-8;IE-7;" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />    
    <meta name="description" content="Orbin gestion soluciones informaticas">
    <meta name="author" content="Orbin gestion soluciones informaticas">
    <meta name="keywords" content="orbin,gestion,soluciones,informaticas,gestion,control,sistemas,programas" />
    <META NAME="robots" content="index,follow">
    <title>Orbin Gestión - Soluciones informáticas</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>  
    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
